.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.708008;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.916992;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.919922;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{margin-left:-5.408000px;}
._0{margin-left:-2.912000px;}
._1{margin-left:-1.232000px;}
._4{width:1.008000px;}
._6{width:2.016000px;}
._5{width:3.072000px;}
._7{width:4.416000px;}
._b{width:6.864000px;}
._8{width:8.720000px;}
._a{width:10.896000px;}
._2{width:36.000000px;}
._9{width:54.960000px;}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:42.000000px;}
.fs2{font-size:48.000000px;}
.fs0{font-size:56.000000px;}
.y1{bottom:0.100000px;}
.y14{bottom:93.000000px;}
.y13{bottom:134.400000px;}
.y12{bottom:148.200000px;}
.y11{bottom:162.000000px;}
.y10{bottom:175.800000px;}
.yf{bottom:189.600000px;}
.ye{bottom:203.400000px;}
.yd{bottom:217.200000px;}
.yc{bottom:231.000000px;}
.yb{bottom:258.600000px;}
.y0{bottom:297.500000px;}
.ya{bottom:598.500000px;}
.y9{bottom:612.300000px;}
.y8{bottom:626.100000px;}
.y7{bottom:639.900000px;}
.y6{bottom:653.700000px;}
.y1d{bottom:663.600000px;}
.y15{bottom:676.000000px;}
.y1c{bottom:677.400000px;}
.y5{bottom:681.300000px;}
.y1b{bottom:691.200000px;}
.y1a{bottom:705.000000px;}
.y4{bottom:708.900000px;}
.y19{bottom:718.800000px;}
.y18{bottom:732.600000px;}
.y3{bottom:759.300000px;}
.y17{bottom:760.200000px;}
.y2{bottom:772.100000px;}
.y16{bottom:774.000000px;}
.h4{height:29.572266px;}
.h5{height:33.304688px;}
.h6{height:33.796875px;}
.h3{height:38.855469px;}
.h7{height:56.000000px;}
.h1{height:271.000000px;}
.h2{height:841.800000px;}
.h0{height:842.000000px;}
.w2{width:121.500000px;}
.w1{width:482.500000px;}
.w0{width:595.000000px;}
.x1{left:0.000000px;}
.x0{left:56.500000px;}
.x3{left:74.800000px;}
.x4{left:92.500000px;}
.x2{left:157.900000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._3{margin-left:-7.210667pt;}
._0{margin-left:-3.882667pt;}
._1{margin-left:-1.642667pt;}
._4{width:1.344000pt;}
._6{width:2.688000pt;}
._5{width:4.096000pt;}
._7{width:5.888000pt;}
._b{width:9.152000pt;}
._8{width:11.626667pt;}
._a{width:14.528000pt;}
._2{width:48.000000pt;}
._9{width:73.280000pt;}
.fs1{font-size:56.000000pt;}
.fs2{font-size:64.000000pt;}
.fs0{font-size:74.666667pt;}
.y1{bottom:0.133333pt;}
.y14{bottom:124.000000pt;}
.y13{bottom:179.200000pt;}
.y12{bottom:197.600000pt;}
.y11{bottom:216.000000pt;}
.y10{bottom:234.400000pt;}
.yf{bottom:252.800000pt;}
.ye{bottom:271.200000pt;}
.yd{bottom:289.600000pt;}
.yc{bottom:308.000000pt;}
.yb{bottom:344.800000pt;}
.y0{bottom:396.666667pt;}
.ya{bottom:798.000000pt;}
.y9{bottom:816.400000pt;}
.y8{bottom:834.800000pt;}
.y7{bottom:853.200000pt;}
.y6{bottom:871.600000pt;}
.y1d{bottom:884.800000pt;}
.y15{bottom:901.333333pt;}
.y1c{bottom:903.200000pt;}
.y5{bottom:908.400000pt;}
.y1b{bottom:921.600000pt;}
.y1a{bottom:940.000000pt;}
.y4{bottom:945.200000pt;}
.y19{bottom:958.400000pt;}
.y18{bottom:976.800000pt;}
.y3{bottom:1012.400000pt;}
.y17{bottom:1013.600000pt;}
.y2{bottom:1029.466667pt;}
.y16{bottom:1032.000000pt;}
.h4{height:39.429688pt;}
.h5{height:44.406250pt;}
.h6{height:45.062500pt;}
.h3{height:51.807292pt;}
.h7{height:74.666667pt;}
.h1{height:361.333333pt;}
.h2{height:1122.400000pt;}
.h0{height:1122.666667pt;}
.w2{width:162.000000pt;}
.w1{width:643.333333pt;}
.w0{width:793.333333pt;}
.x1{left:0.000000pt;}
.x0{left:75.333333pt;}
.x3{left:99.733333pt;}
.x4{left:123.333333pt;}
.x2{left:210.533333pt;}
}
